
/* RESET */
/* ---------------------------- */
*{box-sizing: border-box;}
html,body{margin:0;}
div,section,header,footer,nav{display:block;float:left;width:100%;height:auto;position:relative;}
/* ---------------------------- */
@media screen and (max-width:1540px){
.page {
	position: absolute;
}
.container {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 35px;
	color: black;
	text-align:left;
	text-decoration: none;
}
 h4:hover {
	cursor:pointer;
}
/*Index Header Content*/
 #header{
	padding: 20px;
	background-color: #fae355;
}
.nav_bars {
	display:none;
}
.nav_bars i{
    display:none;
}
.nav_bars_u {
	width:10%;
	margin-left: 1%;
	margin-right: 8%;
	padding: 25px;
}
.nav_bars_u i{
	width:100%;
	color: black;
	font-size: 35px;
	line-height: 65px;
	text-align: center;
}
.menu_bars {
    width:65%;
	margin-left: 10%;
  	float: right;
	padding: 25px 0px 25px 25px;
}
.menu_bars a {
	width:20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	float: left;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 20px;
	line-height: 65px;
	color: black;
	text-align: center;
	text-decoration: none;
}
.restaurant_name{
	display: none;
}
 /* About Page Content*/
#about_content{
	width:40%;
 	margin-left: 5%;
 	margin-right: 5%;
	padding: 30px;
	font-size: 18px;
	line-height: 35px;
}
.about_title h2 {
  	font-size: 30px;
  	line-height: 40px;
  	letter-spacing: 5px;
}
/* Menu Page Content*/
#menu_content{
	width:40%;
 	margin-left: 9%;
 	margin-right: 1%;
	padding: 30px;
	font-size: 18px;
	line-height: 35px;
}
#menu_content h4{
	margin: 0 0 10px 0;
}
#menu_content h4 + div p{
	margin: 0 0 20px 0;
}
#menu_content h4 + div{
	display: none;
}
 /* Contact Page Content*/
#contact_content{
	width:40%;
 	margin-left: 5%;
 	margin-right: 5%;
	padding: 30px;
	font-size: 18px;
	line-height: 20px;
}
.mapouter{
	display: block;
	float: left;
	position: relative;
}
.owl-carousel.owl-theme .item{
	height:300px;
	display:block;
	width: 100%;
	background-position: center;
	background-size: cover;
}
#owl-demo .item{
  /* margin: 60px; */
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
	/* padding: 0 20px */
}
#image_wrap {
	display: block;
	width:40%;
	margin-left: 1%;
	margin-right: 9%;
	height: auto;
	padding: 60px 30px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
img{
	display: block;
	width: 100%;
	height:auto;
	float: left;
	position: relative;
}
 /*Footer Content*/
#footer{
	padding: 30px 0 40px 0;
	background-color: #fae355;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 45px;
	letter-spacing: 2px;
	text-decoration: none;
}
.actions h3{
  text-align: center;
}
.actions a{
  display: inline-block;
  width:30%;
  margin-left: 35%;
  margin-right:35%;
  float: none;
}
.button {
	letter-spacing: 1.6px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	background-color: #3EC9A7;
}
 /* Effects*/
i:hover{
	background:#3EC9A7;
	border-radius: 6px;
	color: black;
	overflow: hidden;
	-webkit-transition: initial;
	-moz-transition: initial;
	-ms-transition: initial;
	transition: initial;
}
a:hover {
	background:#3EC9A7;
	border-radius: 6px;
	color: black;
	overflow: hidden;
	-webkit-transition: initial;
	-moz-transition: initial;
	-ms-transition: initial;
	transition: initial;
}
}
@media screen and (max-width:960px){
.page {
	position: absolute;
}
.container {
	background-color: white;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 13px;
	line-height: 35px;
	color: black;
	text-align:left;
	text-decoration: none;
}
/*Index Header Content*/
#header{
	padding: 20px 0;
	background-color: #fae355;
}
.nav_bars {
	display:none;
}
.nav_bars i{
    display:none;
}
.nav_bars_u {
	width:10%;
	margin-left: 1%;
	margin-right: 8%;
	padding: 25px;
}
.nav_bars_u i{
	font-size: 35px;
	line-height: 65px;
	text-align: center;
}
.menu_bars {
    width:80%;
	margin: auto;
  	float: right;
	padding: 25px;
}
.menu_bars a {
	width:20%;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 20px;
	line-height: 65px;
	color: black;
	text-align: center;
	text-decoration: none;
}
.restaurant_name{
	display: none;
}
/* About Page Content*/
#about_content{
	display: block;
	width: 42%;
	margin-left: 5.5%;
	margin-right: 2.5%;
	padding: 30px 0px;
	float: left;
	padding: 30px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 35px;
	text-align:left;
	text-decoration: none;
}
.about_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: left;
	text-decoration: none;
}
.about_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
/* Menu Page Content*/
#menu_content{
	display: block;
	width: 42%;
	margin-left: 5.5%;
	margin-right: 2.5%;
	padding: 50px 30px 30px 30px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align:left;
	text-decoration: none;
}
.menu_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
  .menu_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
/* Contact Page Content*/
  #contact_content{
  	width: 42%;
  	margin-left: 5.5%;
  	margin-right: 2.5%;
  	padding: 60px 30px 30px 30px;
  	font-family: 'Montserrat:400', sans-serif;
  	font-size: 18px;
  	line-height: 20px;
  	text-align:left;
  	text-decoration: none;
}
.contact_title h2 {
	 font-family: 'Montserrat:700', sans-serif;
	 font-size: 25px;
	 line-height: 30px;
	 letter-spacing: 2px;
	 text-align: left;
	 text-decoration: none;
}
.contact_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	color: black;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
.mapouter{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	position: relative;
}
#image_wrap {
	display: block;
	width: 42%;
	margin-left: 5.5%;
	margin-right: 2.5%;
	padding: 60px 30px 30px 30px;
	float: none;
	position: relative;
	overflow: hidden;
	background:none;
}
}
@media screen and (max-width:600px){
/*Index Header Content*/
#header{
	padding: 20px 0;
	background-color: #fae355;
}
.nav_bars {
	display: block;
	width:20%;
	margin-left: 6%;
	height: auto;
	float: left;
	padding: 25px 15px;
	position: relative;
}
.nav_bars i{
	display: block;
	width:80%;
	height:auto;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 35px;
	line-height: 65px;
	text-align: center;
}
.nav_bars_u {
	display: none;
}
.menu_bars {
	display: none;
}
.menu_bars a {
	display: none;
}
.restaurant_name{
	display: block;
	width: 70%;
	padding: 25px 15px;
	float: right;
	position: relative;
}
.restaurant_name h2{
	display: block;
	width: 60%;
	margin: auto;
	font-family: 'Montserrat:700', sans-serif;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
}
/* About Page Content*/
#about_content{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px 10px 30px 20px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align:left;
	text-decoration: none;
}
.about_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: left;
	text-decoration: none;
}
.about_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
/* Menu Page Content*/
#menu_content{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px 10px 30px 20px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align:left;
	text-decoration: none;
}
.menu_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: left;
	text-decoration: none;
}
.menu_title h4 {
	font-family: 'Montserrat:700', sans-serif;
  	font-size: 20px;
  	line-height: 20px;
  	letter-spacing: 2px;
  	text-align: left;
  	text-decoration: none;
}
/* Contact Page Content*/
#contact_content{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px 10px 30px 20px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align:left;
	text-decoration: none;
}
.contact_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: left;
	text-decoration: none;
}
.contact_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
.mapouter{
  	display: block;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	height:auto;
  	position: relative;
}
#image_wrap {
  	display: block;
  	width:45%;
  	margin:auto;
  	padding: 0px 0px 30px 0px;
  	float: none;
  	position: relative;
  	overflow: hidden;
  	background:none;
}
/*Footer Content*/
.actions h3{
	font-size: 18px;
	line-height: 45px;
	letter-spacing: 2px;
}
.actions a{
	display: block;
	width:40%;
	margin: auto;
	height:auto;
	position: relative;
	float: none;
}
}
