
/* RESET */
/* ---------------------------- */
*{box-sizing: border-box;}
html,body{margin:0;}
div,section,header,footer,nav{display:block;float:left;width:100%;height:auto;position:relative;color: black;	text-align:left; text-decoration: none;}
/* ---------------------------- */
@media screen and (max-width:1540px){
.page {
	position: absolute;
}
.container {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 35px;
}
 h4:hover {
	cursor:pointer;
}
/*Index Header Content*/
 #header{
	padding: 20px;
	background-color: #fae355;
	box-shadow: 0 0 18px 0 gray;
	z-index: 10;
}
.nav_bars {
	display:none;
}
.nav_bars i{
    display:none;
}
.nav_bars_u {
	width:10%;
	margin-left: 3%;
	margin-right: 1%;
	padding: 10px 0;
}
.nav_bars_u i{
	width:100%;
	color: black;
	font-size: 35px;
	line-height: 65px;
	text-align: center;
}
.nav_bars_u2 {
	width:10%;
	margin-left: 1%;
	margin-right: 3%;
	padding: 10px 0;
	float: right;
}
.nav_bars_u2 i{
	width:100%;
	color: black;
	font-size: 35px;
	line-height: 65px;
	text-align: center;
}
.menu_bars {
    width:70%;
	padding: 10px 0px;
}
.menu_bars a {
	width:20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	float: left;
	font-family: 'Montserrat:semi-bold 600', sans-serif;
	font-size: 25px;
	line-height: 65px;
	color: black;
	text-align: center;
	text-decoration: none;
}
.restaurant_name{
	display: none;
}
 /* About Page Content*/
#about_content{
	width:40%;
 	margin-left: 5%;
 	margin-right: 5%;
	padding: 30px;
	font-size: 18px;
	line-height: 35px;
}
.about_title h2 {
  	font-size: 30px;
  	line-height: 40px;
  	letter-spacing: 5px;
}
/* Menu Page Content*/
#menu_content{
	width:40%;
 	margin-left: 9%;
 	margin-right: 1%;
	padding: 30px;
	font-size: 18px;
	line-height: 35px;
}
#menu_content h4{
	margin: 0 0 10px 0;
}
#menu_content h4 + div p{
	margin: 0 0 20px 0;
}
#menu_content h4 + div{
	display: none;
}
 /* Contact Page Content*/
#contact_content{
	width:40%;
 	margin-left: 5%;
 	margin-right: 5%;
	padding: 30px;
}
#contact_content h2{
	font-size: 22px;
	line-height: 20px;
	margin-bottom: 12px;
	text-decoration: underline;
	font-family: 'Montserrat:semi-bold 600', sans-serif;
	text-align: center;
	letter-spacing:normal;
}
#contact_content h3{
	font-size: 18px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 4px;
	font-family:'Montserrat', sans-serif;
	text-align: center;
	letter-spacing:normal;
}
#contact_content p{
	font-size: 18px;
	line-height: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family:'Montserrat', sans-serif;
	text-align: center;
	letter-spacing:normal;
}
.mapouter{
	display: block;
	float: left;
	position: relative;
}
 /* Gallery Page Content*/
.gallery_wrap{
	display: block;
	width:94%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 30px;
	height:350px;

}
.owl-carousel.owl-theme .item{
	height:300px;
	display:block;
	width: 100%;
	background-position: center;
	background-size: cover;
}
#owl-demo .item{
  /* padding: 0; */
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
	/* padding: 0 20px; */
}
#image_wrap {
	display: block;
	width:40%;
	margin-left: 1%;
	margin-right: 9%;
	height: auto;
	padding: 60px 30px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
#image_wrap2 {
	display: block;
	width:40%;
	margin-left: 1%;
	margin-right: 9%;
	height: auto;
	padding: 0px 30px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
#image_wrap3 {
	display: block;
	width:40%;
	margin-left: 1%;
	margin-right: 9%;
	height: auto;
	padding: 0px 30px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
img{
	display: block;
	width: 100%;
	height:auto;
	float: left;
	position: relative;
}
 /*Footer Content*/
#footer{
	padding: 30px 0 40px 0;
	background-color: #fae355;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 45px;
	letter-spacing: 2px;
	text-decoration: none;
}
.actions h3{
  	text-align: center;
}
.actions a{
	display: inline-block;
	width:30%;
	margin-left: 35%;
	margin-right:35%;
	float: none;
}
.button {
	letter-spacing: 1.6px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	background-color: #3EC9A7;
}
 /* Effects*/
a:hover {
	background:#3EC9A7;
	border-radius: 6px;
	color: black;
	overflow: hidden;
	-webkit-transition: initial;
	-moz-transition: initial;
	-ms-transition: initial;
	transition: initial;
}
}
@media screen and (max-width:960px){
/*Index Header Content*/
.menu_bars a {
	font-size: 22px;
	line-height: 68px;
}
/* About Page Content*/
#about_content{
	display: block;
	width: 42%;
	margin-left: 5.5%;
	margin-right: 2.5%;
	padding: 30px 0px;
	float: left;
	padding: 30px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 35px;
	text-align:left;
	text-decoration: none;
}
.about_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: left;
	text-decoration: none;
}
.about_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
/* Menu Page Content*/
#menu_content{
	display: block;
	width: 42%;
	margin-left: 5.5%;
	margin-right: 2.5%;
	padding: 50px 30px 30px 30px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align:left;
	text-decoration: none;
}
.menu_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 25px;
	line-height: 60px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
  .menu_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
/* Contact Page Content*/
  #contact_content{
  	width: 42%;
  	margin-left: 5.5%;
  	margin-right: 2.5%;
  	padding: 60px 30px 30px 30px;
  	font-family: 'Montserrat:400', sans-serif;
  	font-size: 18px;
  	line-height: 20px;
  	text-align:left;
  	text-decoration: none;
}
.contact_title h2 {
	 font-family: 'Montserrat:700', sans-serif;
	 font-size: 25px;
	 line-height: 30px;
	 letter-spacing: 2px;
	 text-align: left;
	 text-decoration: none;
}
.contact_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	color: black;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
.mapouter{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	position: relative;
}
#image_wrap {
	display: block;
	width: 42%;
	margin-left: 5.5%;
	margin-right: 2.5%;
	padding: 60px 30px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
#image_wrap2 {
	display: block;
	width: 42%;
	margin-left: 2.5%;
	margin-right: 5.5%;
	padding: 60px 30px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
#image_wrap3 {
	display: block;
	width:40%;
	margin-left: 1%;
	margin-right: 9%;
	height: auto;
	padding: 0px 30px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
}
@media screen and (max-width:780px){
/*Index Header Content*/
#header{
	padding: 20px 0;
	background-color: #fae355;
}
.nav_bars {
	display: block;
	width:10%;
	margin-left: 3%;
	margin-right: 1%;
	padding: 10px 0;
	float: left;
	position: relative;
}
.nav_bars i{
	display: block;
	width:100%;
	height:auto;
	/* margin-left: 10%;
	margin-right: 10%; */
	font-size: 35px;
	line-height: 65px;
	text-align: center;
}
.nav_bars_u {
	display:none;
}
.nav_bars_u i{
	display:none;
}
/*--dropdown nav button--*/
div a, .dropbtn {
	display: inline-block;
	width: 100%;
	color: black;
	text-align: center;
	padding: 0px 0px;
	text-decoration: none;
}
div a:hover, .nav_bars:hover .dropbtn {
	background-color: #3EC9A7;
	border-radius: 6px;
}
.dropdown-content {
	display: none;
	position: absolute;
	margin-left: 3%;
	background-color: white;
	border-radius: 6px;
	font-size: 20px;
	line-height: 35px;
	font-family: 'Montserrat:400', sans-serif;
	text-align:left;
	min-width: 140px;
	z-index: 2;
}
.dropdown-content a {
	color: black;
	padding: 0px 10px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #3EC9A7;
}
.nav_bars:hover .dropdown-content {
	display: block;
}
/*-- end of dropdown nav button--*/
.menu_bars {
	display: none;
}
.menu_bars a {
	display: none;
}
.restaurant_name{
	display: block;
	width:72%;
	padding: 10px 0px;
}
.restaurant_name h2{
	display: block;
	width: 100%;
	margin: auto;
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 65px;
	text-align: center;
	text-decoration: none;
}
/* About Page Content*/
#about_content{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px 10px 30px 20px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align:left;
	text-decoration: none;
}
.about_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: left;
	text-decoration: none;
}
.about_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
.actions a{
	display: inline-block;
	width:40%;
	margin-left: 30%;
	margin-right:30%;
	float: none;
}
.button {
	letter-spacing: 1.6px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	background-color: #3EC9A7;
}
#image_wrap2 {
	display: block;
	width: 42%;
	margin-left: 8%;
	margin-right: 0;
	padding: 0px 10px 30px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
#image_wrap3 {
	display: block;
	width:42%;
	margin-left: 0;
	margin-right: 8%;
	height: auto;
	padding: 0px 30px 10px 30px;
	float: left;
	position: relative;
	overflow: hidden;
	background:none;
}
}
@media screen and (max-width:639px){
/*Index Header Content*/
#header{
	padding: 20px 0;
}
.nav_bars {
	display: block;
	width:10%;
	margin-left: 3%;
	margin-right: 1%;
	padding: 10px 0px;
	font-size: 35px;
	line-height: 65px;
	text-align: center;
	float: left;
	position: relative;
}
.nav_bars i{
	display: block;
	width:100%;
}
.nav_bars_u {
	display:none;
}
.nav_bars_u i{
	display:none;
}
/*--dropdown nav button--*/
div a, .dropbtn {
	display: inline-block;
	width: 100%;
	color: black;
	text-align: center;
	padding: 0px 0px;
	text-decoration: none;
}
div a:hover, .nav_bars:hover .dropbtn {
	background-color: #3EC9A7;
	border-radius: 6px;
}
.dropdown-content {
	display: none;
	position: absolute;
	margin-left: 3%;
	background-color: white;
	border-radius: 6px;
	font-size: 20px;
	line-height: 35px;
	text-align:left;
	min-width: 140px;
	z-index: 2;
}
.dropdown-content a {
	color: black;
	padding: 0px 10px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #3EC9A7;
}
.nav_bars:hover .dropdown-content {
	display: block;
}
/*-- end of dropdown nav button--*/
.menu_bars {
	display: none;
}
.menu_bars a {
	display: none;
}
.restaurant_name{
	display: block;
	width:72%;
	padding: 10px 0px;
}
.restaurant_name h2{
	display: block;
	width: 100%;
	margin: auto;
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 65px;
	text-align: center;
	text-decoration: none;
}
/* Menu Page Content*/
#menu_content{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px 10px 30px 20px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 25px;
	text-align:left;
	text-decoration: none;
}
.menu_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 5px;
	text-align: left;
}
.menu_title h4 {
	font-family: 'Montserrat:700', sans-serif;
  	font-size: 20px;
  	line-height: 20px;
  	letter-spacing: 2px;
  	text-align: left;
  	text-decoration: none;
}
/* Contact Page Content*/
#contact_content{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px 10px 30px 20px;
	font-family: 'Montserrat:400', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align:left;
	text-decoration: none;
}
.contact_title h2 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: left;
	text-decoration: none;
}
.contact_title h4 {
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-decoration: none;
}
.mapouter{
  	display: block;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	height:auto;
  	position: relative;
}
#image_wrap {
  	display: block;
  	width:70%;
  	margin:auto;
  	padding: 0px 0px 30px 0px;
  	float: none;
  	position: relative;
  	overflow: hidden;
  	background:none;
}
#image_wrap2 {
	display: block;
	width: 70%;
	margin:auto;
	padding: 0px 0px 30px 0px;
	float: none;
	position: relative;
	overflow: hidden;
	background:none;
}
#image_wrap3 {
	display: none;
}
/* Index Footer Content*/
#footer{
	padding: 30px 0 40px 0;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 45px;
	letter-spacing: 2px;
	text-decoration: none;
}
.actions h3{
  text-align: center;
  padding: 0px;
  margin: auto;
}
.actions a{
	display: inline-block;
	width:40%;
	margin-left: 30%;
	margin-right:30%;
	float: none;
}
.button {
	letter-spacing: 1.6px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	background-color: #3EC9A7;
}
}
/*Resize to max-width: 500px*/
@media screen and (max-width:500px){
/*Index Header Content*/
.nav_bars {
	font-size: 25px;
	line-height: 55px;
}
.restaurant_name h2{
	font-size: 25px;
	line-height: 55px;
}
.nav_bars_u2 i{
   font-size: 25px;
   line-height: 55px;
}
.button{
	line-height: 23px;
}
}
@media screen and (max-width:400px){
	/*Index Header Content*/
.restaurant_name h2{
	display: block;
	width: 100%;
	margin: auto;
	font-family: 'Montserrat:700', sans-serif;
	font-size: 20px;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
}
.actions a{
	display: inline-block;
	width:60%;
	margin-left: 20%;
	margin-right:20%;
	float: none;
}
}
